
.field-items .field-item p {
	margin: 0.5em;
}

.node2 .field-item {
	position: relative;
}

.logoHome {

}

.introduce {
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
	font-family: utm_neo_sans_intelbold;
	line-height: 14px;
	}

.describe {
	text-align: center;
	font-size: 14px;
	font-family: utm_neo_sans_intelregular;
	line-height: 14px;
}

.btn {
	width: 100px !important ;
	height: 50px !important;
	display: inline-block;
	margin: 1em;
	background: none;
	color: rgba(255, 0, 0, 0.1);
	position: relative;
	transition:color 0.4s linear;
	border: 1px solid black;
}

.btn img{
	margin: -1%;
	width: 100px;
	height: 50px;
}

.btn:hover {
	width: 100px !important;
	height: 50px !important;
	border: white;
}

.btn::after {
	position: absolute;
	content: '';
	top:0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: white;
	transform-origin:left;
	transition:width 0.4s linear;
	z-index:-1;
	opacity: 0.2;
	}

.btn:hover::after {
	width: 100%;
}